<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Parks, Rec & Reviews!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p><img id="campfire" src="https://d30y9cdsu7xlg0.cloudfront.net/png/15126-200.png"></p>
            <a href="/campgrounds/new"><button class="btn btn-primary">Add new campground</button></a>            
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(camp){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src= "<%= camp.image %>" >
                    <div class="caption"><h4><%= camp.name %> </h4> </div>
                    <p><a href="/campgrounds/<%=camp._id%>" class="btn btn-primary">More Info</a></p>
                </div>
                
            </div>
           <% }); %>        
    </div>
    
</div>

   
<% include partials/footer %>