#show-pic {
    padding:0;
}

#map {
    height: 400px;
    width: 100%;
}
.thumbnail img {
    width:100%;
}

.deleteForm {
    display:inline;
}

.mainForm {
    width: 30%;
    margin: 20px auto;
}